/target/
/.settings/
/.project
/.classpath

/sampleservice.api/target/
/sampleservice.api/.settings/
/sampleservice.api/.project
/sampleservice.api/.classpath

/sampleservice.impl/target/
/sampleservice.impl/.settings/
/sampleservice.impl/.project
/sampleservice.impl/.classpath

/sampleservice.testportlet/target/
/sampleservice.testportlet/.settings/
/sampleservice.testportlet/.project
/sampleservice.testportlet/.classpath

